.card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 58px;
  }
  
  .card {
    flex: 1 1 300px; /* Adjust as needed */
    max-width: 500px; /* Adjust as needed */
    height: 65vh;
    background-color: #4cd038;
    border-radius: 10px;
  }
  .card-titles {
    margin-left: 80px;
    font-weight: bold;
    font-size: 14px;
    margin-top: 10px;
    color: white;
  }
  
  .card-text {
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    color: white;
    font-size: 14px;
  }
  .btn,
  .btns {
    color: #000;
    border-radius: 9px;
    height: 40px;
    margin-left: 100px;
    margin-top: 50px;
    width: 80px;
    border: 1px solid #000000; /* Add border color here */
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
  
  }
  
  footer {
    width: 100%;
    /* margin-top: 64px; */
    background-color: #4cd038;
    color:white;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    padding: 3px;
    /* margin-top: 80px; */
  }
  
  .f-design {
    width: 100%;
    text-align: center;
  }
  
  .f-design .f-design-txt {
    padding: 25px 0;
    font-size: 14px;
    color: white;
  }
  button{
    color: #4F964F;
    font-weight: bold;
    border-radius: 9px;
    height: 45px;
    width: 100px;
    border: 1px ; /* Add border color here */
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
  }
  .img{
    background-color: white;
    border-radius: 10px;
    height: 280px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #prediction-result p{
    color: white;
  }
  h2{
    color: white;
    font-size: 28px;
    padding:0px;
    padding-top:15px;
  }

  #prediction-result{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
  }

  .green-con{
    
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
  }

  .b2{
    margin-left: 30px;
  }
  button{
  color: #4F964F;
  font-weight: bold;
  border-radius: 9px;
  height: 45px;
  width: 100px;
  border: 1px ; /* Add border color here */
  justify-content: center;
  cursor: pointer;
  font-size: 14px;

}
button:hover{
  color:white;
  background-color: transparent;
  border:2px solid;
  border-color:white;
}