header{
    margin:0px;
}

footer{
    margin-top: 35px;
}
/* section */
.upload_card{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:58px;
}
.upload-card{
    width:500px;
    height:540px;
    max-width: 500px;
    max-height: 560px;
    background-color: #4cd038;
    /* margin:30px; */
    /* margin: 40px; */
    border-radius: 3%;
    
    
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px;
}
.img{
    margin-top: 20px;
    background-color: white;
    max-width: 450px;
    max-height: 450px;
    /* width:430px; */
    /* height:430px; */
    border-radius:3%;
}
#uploaded-image{
    display: flex;
    justify-content: center;
}
button{
    font-family: Georgia;
    width: 80px;
    height: 40px;
    color:#4F964F;
    border-radius: 9px;
    border: 1px ; /* Add border color here */
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
    margin-top:50px;
    margin-left:25px;
    margin-right:25px;
}
  button:hover{
    color:white;
    background-color: transparent;
    border:2px solid;
    border-color:white;
  }
  
.image-con{
    margin-top: 20px;
    background-color: white;
    width: 420px;
    height: 342px;
    /* width:430px; */
    /* height:430px; */
    border-radius:3%;
}
#uploaded-image{
    width: 400px;
    height: 322px;
    /* object-fit: contain; */
    justify-content: center;
    margin: 10px;
}

.custom-file-upload{
    font-family: Georgia;
    
    color:#4F964F;
    background-color: white;
    border-radius: 9px;
    border: 1px ; /* Add border color here */
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
    margin-top:50px;
    margin-left:25px;
    margin-right:25px;
    padding:11px;
}
#upload-button{
    width:95px;
    height:38px;
}
.custom-file-upload:hover{
    color:white;
    background-color: transparent;
    border:2px solid;
    border-color:white;
  }
.image-con2{
    margin-top: 10px;
    background-color: white;
    width: 350px;
    height: 292px;
    /* width:430px; */
    /* height:430px; */
    border-radius:3%;
    margin-bottom: 20px;
}
#result_image{
    width: 340px;
    height: 282px;
    /* object-fit: contain; */
    justify-content: center;
    margin: 5px;
}
.h2{
    font-size: 28px;
}
.result-btn{
    padding:0px;
    margin:0px;
    margin-top:20px;
}
.b2{
    margin-top:0px ;
} 