<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/abt.css">
</head>
<body>

<header>
  <div class="logo">
    <a href="/index">
      <img src="/static/image/image01.png" alt="" />
    </a>

  </div>
  <nav class="nav">
    <ul class="menu1">
      <li class="li1"><a href="/index">Home</a></li>
      <li class="li2"><a href="/about">About Us</a></li>
      <li class="li3"><a href="/treatment">Treatment</a></li>
    </ul>
  </nav>
  <button id="toggleNavbar" class="navbar-toggle">☰</button>

  <nav class="navbar" id="navbar">
    <button id="closeNavbar" class="close-icon">×</button>
    <ul class="menu">
      <li><a href="/index">Home</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/treatment">Treatment</a></li>
    </ul>
  </nav>
</header>

<section>
    <div class="first_content">
        <div class="group_photo">
            <img src="/static/image/us.png" alt="">
        </div>
        <div class="description">
          <h1>About Us</h1>
          <p class="welcome-where-innovation">
            Welcome, where innovation meets agriculture! We are a passionate team
            of technology enthusiasts dedicated to revolutionizing the way plant
            diseases are detected, particularly in the realm of potatoes. Our
            project harnesses the power of Machine Learning (ML) through advanced
            image classification techniques.
          </p>
          <p class="welcome-where-innovation">&nbsp;</p>
          <p class="welcome-where-innovation">&nbsp;</p>
          <p class="welcome-where-innovation">
            Join us as we strive to contribute to the field of precision
            agriculture, making it accessible and beneficial for farmers.
            Together, let's cultivate a future where technology becomes an
            invaluable ally in safeguarding crops and ensuring sustainable farming
            practices.
          </p>
        </div>
    </div>
    
</section>

<section class="card_section">
    <h3>Developers</h3>
    <div class="first_row">
        <div class="card">
            <img src="/static/image/kawang.png" alt="">
            <h4>Chimi Kawang Selden</h4>
            <h5>Project Manager</h5>
        </div>
        <div class="card">
            <img src="/static/image/dechok.png" alt="">
            <h4>Dechok Dema</h4>
            <h5>Model Architecture</h5>
        </div>
        <div class="card">
            <img src="/static/image/sangay.png" alt="">
            <h4>Sangay Wangmo</h4>
            <h5>Data Engineer</h5>
        </div>
    </div>
    <div class="second_row">
        <div class="card">
            <img src="/static/image/sonam.png" alt="">
            <h4>Sonam Lhamo</h4>
            <h5>Model Architecture</h5>
        </div>
        <div class="card">
            <img src="/static/image/yuden.png" alt="">
            <h4>Sonam Yuden</h4>
            <h5>Frontend Developer</h5>
        </div>
    </div>

</section>

<footer>
  <div class="footer-container container"></div>
  <div class="f-design">
    <div class="f-design-txt container">
      <p>2024 AgriTech All Right Reserved</p>
    </div>
  </div>
</footer>
<script src="/static/js/script.js"></script>
</body>
</html>
