<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Treatment</title>
  <link rel="stylesheet" href="/static/css/style1.css">
  <link rel="stylesheet" href="/static/css/treatment.css">
  

  
</head>
<body>

<header>
  <div class="logo">
    <a href="/index">
      <img src="/static/image/image01.png" alt="" />
    </a>
  </div>
  <nav class="nav">
    <ul class="menu1">
      <li class="li1"><a href="/index">Home</a></li>
      <li class="li2"><a href="/about">About Us</a></li>
      <li class="li3"><a href="/treatment">Treatment</a></li>
    </ul>
  </nav>
  <button id="toggleNavbar" class="navbar-toggle">☰</button>

  <nav class="navbar" id="navbar">
    <button id="closeNavbar" class="close-icon">×</button>
    <ul class="menu">
      <li><a href="/index">Home</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/treatment">Treatment</a></li>
    </ul>
  </nav>
</header>


<!-- Second part -->

<div class="first" style="background-color: #FFFFFF; color: #4CD038; padding-top:40px;">
  <h1 style="text-align: center; font-family: 'Plus Jakarta Sans'; color:black;" >Treatment and Prevention for Early Blight</h1>
  <div class="container container-second" >

    <div class="column phone-column tablet-column desktop-column">
      <div class="sub-column phone-sub-column tablet-sub-column desktop-sub-column">
        <div class="image-row">
          <img src="/static/image/imagea.jpeg" alt="Image" class="rounded-image phone-rounded-image tablet-rounded-image desktop-rounded-image" style="height: 245px; margin-bottom: 20px;">
        </div>
        <div class="image-row">
          <img src="/static/image/imageb.jpeg" alt="Image" class="rounded-image phone-rounded-image tablet-rounded-image desktop-rounded-image" style="height: 245px;">
        </div>
      </div>
      <div class="sub-column phone-sub-column tablet-sub-column desktop-sub-column">
        <div class="image-row">
          <img src="/static/image/imagec.jpg" alt="Image" class="rounded-image phone-rounded-image tablet-rounded-image desktop-rounded-image" style="height: 500px;">
        </div>
      </div>
    </div>

    <div class="column phone-column tablet-column desktop-column">
      <div class="text">
        <h2 style="font-family: 'Plus Jakarta Sans'">Early Blight:</h2><br>
        <h3 style="font-family: 'Plus Jakarta Sans'">Symptoms:</h3><br>
        <ol>
          <li>Leaf Lesions: Dark, target-like lesions with concentric rings on lower leaves.</li>
          <li>Leaf Yellowing: Yellowing of leaves starting from the bottom of the plant.</li>
          <li>Reduced Yield: Severe infections can lead to reduced yield.</li>
        </ol>
        <h3 style="font-family: 'Plus Jakarta Sans'">Treatment and Prevention:</h3><br>
        <ol>
          <li>Fungicides: Apply fungicides, especially during periods of warm and humid weather.</li>
          <li>Resistant Varieties: Choose potato varieties with resistance to early blight.</li>
          <li>Crop Rotation: Practice crop rotation to reduce the buildup of pathogens in the soil.</li>
          <li>Proper Spacing: Plant potatoes with adequate spacing to improve air circulation.</li>
          <li>Mulching: Use mulch to reduce soil splash onto leaves and minimize disease spread.</li>
          <li>Remove Infected Leaves: Prune and remove infected leaves to reduce the spread of the disease.</li>
          <li>Watering: Water at the base of plants to keep foliage dry and minimize conditions conducive to early blight.</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<div class="footer" style="height: 100px; display: flex; align-items: center; justify-content: center; padding-top:5px; background-color: #4CD038; color: white; margin-top:60px;"  >
  <p style="text-align: center;">&copy; 2024 AgriTech. All Right Reserved</p>
</div>

<script src="/static/js/script.js"></script>
</body>
</html>
