<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>lateblight</title>
  <link rel="stylesheet" href="/static/css/style1.css">
  <link rel="stylesheet" href="/static/css/treatment.css">
  

  
</head>
<body>

<header>
  <div class="logo">
    <a href="/index">
      <img src="/static/image/image01.png" alt="" />
    </a>
  </div>
  <nav class="nav">
    <ul class="menu1">
      <li class="li1"><a href="/index">Home</a></li>
      <li class="li2"><a href="/about">About Us</a></li>
      <li class="li3"><a href="/treatment">Treatment</a></li>
    </ul>
  </nav>
  <button id="toggleNavbar" class="navbar-toggle">☰</button>

  <nav class="navbar" id="navbar">
    <button id="closeNavbar" class="close-icon">×</button>
    <ul class="menu">
      <li><a href="/index">Home</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/treatment">Treatment</a></li>
    </ul>
  </nav>
</header>

<div class="first" style="background-color: #FFFFFF; color: #000000; padding-top: 20px; padding-bottom: 40px;">
  <h1 style="text-align: center; font-family: 'Plus Jakarta Sans'" >Treatment and Prevention for Late Blight</h1>

  <div class="container">
    <div class="column phone-column tablet-column desktop-column">
      <div class="text">
        <h2 style="font-family: 'Plus Jakarta Sans'">Late Blight:</h2>
        <br>
        <h3 style="font-family: 'Plus Jakarta Sans'">Symptoms:</h3><br>
        <ol>
          <li>Foliage: Dark green to black lesions on leaves, often with a water-soaked appearance.</li>
          <li>Underside: White, fuzzy growth (sporulation) on the undersides of leaves, especially in humid conditions.</li>
          <li>Stems and Tubers: Lesions on stems and tubers, turning brown and firm.</li>
        </ol>
        <h3 style="font-family: 'Plus Jakarta Sans'">Treatment and Prevention:</h3><br>
        <ol>
          <li>Fungicides: Copper-based fungicides are commonly used to control late blight. Apply fungicides preventively and consider their application based on weather conditions.</li>
          <li>Resistant Varieties: Plant potato varieties that are resistant to late blight.</li>
          <li>Crop Rotation: Rotate crops to reduce the risk of disease recurrence.</li>
          <li>Early Detection: Regularly scout and monitor fields for early signs. Early detection allows for prompt action.</li>
          <li>Sanitation: Remove and destroy infected plant material to prevent the spread of the pathogen.</li>
          <li>Reduce Humidity: Improve air circulation and reduce humidity in the potato canopy.</li>
          <li>Timely Harvest: Harvest potatoes on time to minimize exposure to late blight.</li>
        </ol>
      </div>
    </div>

    <div class="column phone-column tablet-column desktop-column">
      <div class="sub-column phone-sub-column tablet-sub-column desktop-sub-column">
        <div class="image-row">
          <img src="/static/image/image1.jpeg" alt="Image" class="rounded-image phone-rounded-image tablet-rounded-image desktop-rounded-image" style="height: 245px; margin-bottom: 20px;">
        </div>
        <div class="image-row">
          <img src="/static/image/img2.jpeg" alt="Image" class="rounded-image phone-rounded-image tablet-rounded-image desktop-rounded-image" style="height: 245px;">
        </div>
      </div>
      <div class="sub-column phone-sub-column tablet-sub-column desktop-sub-column">
        <div class="image-row">
          <img src="/static/image/img3.jpg" alt="Image" class="rounded-image phone-rounded-image tablet-rounded-image desktop-rounded-image" style="height: 500px;">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Second part -->

<!-- Footer -->
<div class="nav" style="height: 100px; display: flex; align-items: center; justify-content: center; padding-top:0px; background-color: #4CD038; color: white">
  <p style="text-align: center;">&copy; 2024 AgriTech. All Right Reserved</p>
</div>

<script src="/static/js/script.js"></script>
</body>
</html>
